{% include "base(nav).html" %} {% block content %}
<div class="match-detail-box">
    <div class="match-meta">
        <div class="match-title">
            <h1>{{ match.title }}</h1>
        </div>
        <div class="match-time-location-holder">
            <span class="material-symbols-outlined match-box-meta-icon ">schedule</span>{{ match.match_date }}&emsp;{{ match.match_time }}
            <span class="material-symbols-outlined match-box-meta-icon ">location_on</span>{{ match.location }}
            <span class="material-symbols-outlined match-box-meta-icon ">person</span>{{ match.holder }}
        </div>
        <div class="match-description">
            <p>{{ match.description }}</p>
            <h2>Participants:</h2>
            <ul>
                {% for participant in match.participants.all %}
                <li><a href="{% url 'account:profile' participant.get_username %}">{{ participant.username }}</a></li>
                {% endfor %}
            </ul>
            {% if request.user.is_authenticated %} {% if request.user not in match.participants.all %}
            <form method="post" action="{% url 'match:join' match_id=match.id %}">
                {% csrf_token %}
                <button type="submit">Join</button>
            </form>
            {% else %}
            <p>You are already a participant in this match.</p>
            <form method="post" action="{% url 'match:leave' match_id=match.id %}">
                {% csrf_token %}
                <button type="submit">Leave</button>
            </form>
            {% endif %} {% else %}
            <p>You must be logged in to join a match.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}